name: Build RISC-V GNU Toolchain
on: workflow_dispatch
#  push:
#    tags:
#      - '**'
permissions:
  contents: read
  contents: write

jobs:
#  release:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: softprops/action-gh-release@v2

  artifact:
    strategy:
      matrix:
        runner: [ubuntu-24.04, ubuntu-24.04-arm64]
    runs-on: ${{matrix.runner}}
    env:
      RISCV: /tmp/riscv
    steps:
      - name: Install deps
        run: |
          apt-get update
          apt-get install -y autoconf automake autotools-dev curl python3 python3-pip python3-tomli libmpc-dev libmpfr-dev libgmp-dev gawk build-essential bison flex texinfo gperf libtool patchutils bc zlib1g-dev libexpat1-dev ninja-build git cmake libglib2.0-dev libslirp-dev libncurses-dev device-tree-compiler libboost-regex-dev libboost-system-dev # crossbuild-essential-arm64 # not needed: not cross-compiling

      - name: Prepare build
        run: |
          git clone https://github.com/riscv-collab/riscv-gnu-toolchain.git
          cd riscv-gnu-toolchain
          git checkout 2026.02.13
          mkdir -p "$RISCV"
          echo "$RISCV"/bin >> "$GITHUB_PATH"

      - name: Build riscv32-unknown-elf toolchain
        working-directory: riscv-gnu-toolchain
        run: |
          echo "======= Configuring ======="
          ./configure --prefix="$RISCV" --disable-gdb --enable-strip --with-arch=rv32gc_zicsr_zifencei --with-abi=ilp32d --with-languages=c # --host="$1-linux-gnu" --with-sim=spike # not cross-compiling - doesn't work
          echo "======= Making ======="
          make -j$(nproc) # newlib build-sim # default - doesn't work because passed options are wrong
          echo "======= Testing ======="
          riscv32-unknown-elf-gcc --version
          echo "======= Cleaning ======="
          make clean

      - name: Build spike
        working-directory: riscv-gnu-toolchain
        run: |
          git submodule update --init --depth 1 spike
          mkdir spike/build
          cd spike/build
          echo "======= Configuring ======="
          ../configure --prefix="$RISCV" --with-target=riscv32-unknown-elf # --host="$1-linux-gnu" # not cross-compiling
          echo "======= Making ======="
          make -j$(nproc)
          echo "======= Testing ======="
          make check -j$(nproc)
          echo "======= Installing ======="
          make install -j$(nproc)
          cd ../..
          echo "======= Cleaning ======="
          git submodule deinit -f spike

      - name: Build pk
        working-directory: riscv-gnu-toolchain
        run: |
          git submodule update --init --depth 1 pk
          mkdir pk/build
          cd pk/build
          echo "======= Configuring ======="
          ../configure --prefix="$RISCV" --host=riscv32-unknown-elf --with-arch=rv32gc_zicsr_zifencei --with-abi=ilp32d
          echo "======= Making ======="
          make -j$(nproc)
          echo "======= Installing ======="
          make install -j$(nproc)
          cd ../../..
          echo "======= Cleaning ======="
          rm -rf riscv-gnu-toolchain

      - name: Prepare coursework tests
        uses: actions/checkout@v6

      - name: Test the build on coursework
        run: |
          git apply - <<-'EOF'
          diff --git a/test.py b/test.py
          index d3a0ff9..05bfda1 100755
          --- a/test.py
          +++ b/test.py
          @@ -58,8 +58,8 @@
           RUN_TIMEOUT_SECONDS = 15
           TIMEOUT_RETURNCODE = 124
           
          -GCC = "riscv64-unknown-elf-gcc"
          -GCC_ARCH = "-march=rv32imfd"
          +GCC = "riscv32-unknown-elf-gcc"
          +GCC_ARCH = "-march=rv32gc"
           GCC_ABI = "-mabi=ilp32d"
           
           @dataclass
          @@ -272,7 +272,7 @@ def run_test(driver: Path, validate_tests: bool = False) -> Result:
           
               # Simulate
               return_code, _, timed_out = run_subprocess(
          -        cmd=["spike", "pk", log_path],
          +        cmd=["spike", "--isa=rv32gc", "pk", log_path],
                   timeout=RUN_TIMEOUT_SECONDS,
                   log_path=f"{log_path}.simulation",
               )
          EOF
          mkdir build
          touch build/c_compiler
          ./test.py --no_clean --validate_tests

      - name: Produce artifact
        run: |
          chmod 555 "$RISCV"
          tar -cvzf riscv-gnu-toolchain-${{runner.os}}-${{runner.arch}}.tar.gz "$RISCV"
          rm -rf "$RISCV"

      - name: Upload artifact
#        uses: softprops/action-gh-release@v2
#        with:
#          files: riscv-gnu-toolchain-${{runner.os}}-${{runner.arch}}.tar.gz
        uses: actions/upload-artifact@v3
        with:
          name: riscv-gnu-toolchain-${{runner.os}}-${{runner.arch}}.tar.gz
          path: riscv-gnu-toolchain-${{runner.os}}-${{runner.arch}}.tar.gz
