name: Integration test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Test:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      statuses: write
      checks: write
      contents: read
    container:
      image: ghcr.io/langproc/langproc-cw/environment:latest-2025-26
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - name: Build and test
        id: test
        timeout-minutes: 1
        run: |
          ./test.py

      - name: Perm issue fix
        if: success() || failure()
        run: git config --global --add safe.directory "/__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}"

      - name: Upload test results
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test results
          path: build/junit_results.xml
          reporter: java-junit
          fail-on-error: false
