name: Release

on:
  push:
    tags:
      - "**"

jobs:
  draft_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
